<div id="canvas_container">
  <div class="canvas_inner_container">
    <div id="major">
      <div id="majorheading">major</div>
      <canvas id="myCanvas"></canvas>
      <canvas id="myCanvas1"></canvas>
      <canvas id="myCanvas2"></canvas>
      <canvas id="myCanvas3"></canvas>
      <canvas id="myCanvas4"></canvas>
      <canvas id="myCanvas5"></canvas>
      <canvas id="myCanvas6"></canvas>
      <canvas id="myCanvas7"></canvas>
      <canvas id="myCanvas8"></canvas>
      <canvas id="myCanvas9"></canvas>
      <canvas id="myCanvas10"></canvas>
      <canvas id="myCanvas11"></canvas>
    </div>
  </div>
  <div class="canvas_inner_container">
    <div id="minor">
      <div id="minorheading">minor</div>
      <canvas id="myCanvas12" width="200" height="200"></canvas>
      <canvas id="myCanvas13" width="200" height="200"></canvas>
      <canvas id="myCanvas14" width="200" height="200"></canvas>
      <canvas id="myCanvas15" width="200" height="200"></canvas>
      <canvas id="myCanvas16" width="200" height="200"></canvas>
      <canvas id="myCanvas17" width="200" height="200"></canvas>
      <canvas id="myCanvas18" width="200" height="200"></canvas>
      <canvas id="myCanvas19" width="200" height="200"></canvas>
      <canvas id="myCanvas20" width="200" height="200"></canvas>
      <canvas id="myCanvas21" width="200" height="200"></canvas>
      <canvas id="myCanvas22" width="200" height="200"></canvas>
      <canvas id="myCanvas23" width="200" height="200"></canvas>
    </div>
  </div>
</div>
