<head>
  <script>
    $(document).ready(function() {
      console.log("HHELLLLOOOOO!");
      clickEvents();
    });
    function clickEvents () {
      var canvas = $('#myCanvas')

      var context = new AudioContext();

      /* VCO */
      var vco = context.createOscillator();
      vco.type = vco.SINE;
      vco.frequency.value = this.frequency;
      vco.start(0);

      /* VCA */
      var vca = context.createGain();
      vca.gain.value = 0;

      /* FILTER
      http://jsfiddle.net/MarijnS95/X38pk/3/
      */

      var filter = context.createBiquadFilter();
      filter.type = filter.LOWPASS;
      filter.frequency.value = 220;
      filter.gain.value = 60;

      /* REVERB http://noisehack.com/custom-audio-effects-javascript-web-audio-api/ */

      var convolver = context.createConvolver();
        noiseBuffer = context.createBuffer(2, 2 * context.sampleRate, context.sampleRate),
        left = noiseBuffer.getChannelData(0),
        right = noiseBuffer.getChannelData(1);
        for (var i = 0; i < noiseBuffer.length; i++) {
          left[i] = Math.random() * 5 - 1;
          right[i] = Math.random() * 7 - 1;
        }
        convolver.buffer = noiseBuffer;

      /* Analyser */

      var analyser = context.createAnalyser();

      /* DELAY */

      var delay = context.createDelay(5.0);


      /* Connections */
      vco.connect(vca);
      vca.connect(filter)
      filter.connect(convolver)
      convolver.connect(delay)
      delay.connect(analyser)
      analyser.connect(context.destination);

      canvas.mousedown(function (_, frequency) {
        console.log("CLICQUE CLICQUE")
        vco.frequency.value = frequency;
        vca.gain.value = 1;
      });

      canvas.mouseup(function (_, _) {
        console.log("DONE?")
        vca.gain.value = 0;
      });
    }
  </script>
  </head>
<body>
  <div id="canvas_container">
    <canvas id="myCanvas" width="800" height="500">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div id="canvas-selector"></div>
  </div>


</body>
