/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('http://i.imgur.com/7IM6va5.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

IMG.logo {
  display: block;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#category1, #category2, #category3 {
  border: 5px solid whitesmoke;
}


h3, h4, span, footer, p {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  letter-spacing: 15px;
  font-size: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #7DB1FF;
}

span {
  font-size: 15px;
  margin: 0 10px;
}

footer {
  font-size: 12px;
  letter-spacing: 0.25em;
}

h4 {
  font-size: 20px;
  letter-spacing: 0.3em;
}
p {
  font-size: 14px;
  letter-spacing: 0.25em;
}

a {
  text-decoration: none;
  display: inline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #7DFDFF;
}

#canvas_container, #main_menu {
  width: 100%;
  text-align: center;
}

canvas#myCanvas {
  display: inline;
  border: 2px double #fff;
  background: -webkit-linear-gradient(left, rgba(130, 78, 99, 0.97), rgba(51, 62, 97, 0.97)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(130, 78, 99, 0.97), rgba(51, 62, 97, 0.97)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(130, 78, 99, 0.97), rgba(51, 62, 97, 0.97)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right , rgba(130, 78, 99, 0.97), rgba(51, 62, 97, 0.97)); /* Standard syntax */
}

canvas#myCanvas:hover {
  cursor: crosshair;
}

#main_menu {
  padding: 30px 0;
  text-transform: uppercase;
}

#modal {
  position: absolute;
  z-index: 1000;
  background: rgba(0,0,0,.8);
  width: 400px;
  display:none;
  color: whitesmoke;
  top: 20%;
  left: 30%;
}

#exit {
  float: right;
  padding-top: 15px;
}

#signup-form {
  display: none;
}

#register-form {
  display: none;
}

.user_login {
  padding: 28px;
}

.user_signup {
  text-align: center;
/*   display: block; */
}
