/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('http://i.imgur.com/7IM6va5.jpg');
  background-size: fill;
  background-repeat: no-repeat;
}

IMG.logo {
  display: block;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

#category1 {
  background-color: #FFFFFF;
  border: 5px solid whitesmoke;
}

#category2 {
  background-color: #FFFFFF;
  border: 5px solid whitesmoke;
}

#category3 {
  background-color: #FFFFFF;
  border: 5px solid whitesmoke;
}

h3, span, footer {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  letter-spacing: 15px;
  font-size: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #7DB1FF;
}

span {
  font-size: 15px;
  margin: 0 10px;
}

a {
  text-decoration: none;
  display: inline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #7DFDFF;
}

#canvas_container, #main_menu {
  width: 100%;
  text-align: center;
}

canvas#myCanvas {
  display: inline;
  border: 2px double #fff;
  background: -webkit-linear-gradient(left, #7DFDFF, #85E895); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #7DFDFF, #85E895); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #7DFDFF, #85E895); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right , #7DFDFF, #85E895); /* Standard syntax */
}

#main_menu {
  padding-bottom: 30px;
  text-transform: uppercase;
}

footer {
  font-size: 12px;
  letter-spacing: 0.25em;
}

#forms-container {

}

#modal {
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,.8);
  width: 400px;
  display:none;
  color: whitesmoke;
  top:20%;
  left:30%;
}

#exit {
  float: right;
  padding-top: 15px;
}

.user_login {
  padding: 28px;
}

.user_signup {
  text-align: center;
/*   display: block; */
}

#signup-form {
  display: none;
}

#register-form {
  display: none;
}
