/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img.logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 840px;
}

#category1, #category2, #category3 {
  border: 12px solid transparent;
  background: rgba(0,0,0,0.8);
  color: #FFF;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 30px 10px 50px 10px;
  cursor: pointer;
}


#result {text-align:
  center;
}

#random-form {
  width: 86px;
  margin: 0 auto;
}


h3, h4, span, footer, p {
  font-family: "Trebuchet MS";
  font-weight: lighter;
  letter-spacing: 15px;
  font-size: 50px;
  text-align: center;
  color: #FFF;
}

span {
  font-size: 15px;
  margin: 0 10px;
}

footer {
  font-size: 12px;
  letter-spacing: 0.25em;
}

h4 {
  font-size: 20px;
  letter-spacing: 0.3em;
}
p {
  font-size: 14px;
  letter-spacing: 0.25em;
}

.form_label { padding: 5px; }

.field { padding: 20px; }

.btn {
  border: 3px solid #FFF;
  background: rgba(0,0,0,0);
  letter-spacing: 1px;
  border-radius: 2px;
  color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  display: inline;
  color: #FFF;
  text-shadow: 1px 1px #6C7A89;
}

a:visited { color: #FFF; }

a:hover {
  color: #7DFDFF;
  cursor: pointer;
}

#main_menu {
  width: 100%;
  text-align: center;
}

#canvas_container {
  position: absolute;
  width: 100%;
  text-align: center;
}

.canvas_inner_container {
  position: relative;
  display: inline-block;
  background: #000;
  opacity: 0.5;
}
canvas {
  width: 100px;
  height: 100px;
}

#myCanvas, #myCanvas1, #myCanvas2, #myCanvas3, #myCanvas4, #myCanvas5, #myCanvas6, #myCanvas7,
#myCanvas8, #myCanvas9, #myCanvas10, #myCanvas11, #myCanvas12, #myCanvas13, #myCanvas14,
#myCanvas15, #myCanvas16, #myCanvas17, #myCanvas18, #myCanvas19, #myCanvas20, #myCanvas21, #myCanvas22, #myCanvas23 {
  border: 5px double white;
  cursor: crosshair;
  margin: 0 auto;
}

#myCanvas:hover, #myCanvas1:hover, #myCanvas2:hover, #myCanvas3:hover,
#myCanvas4:hover, #myCanvas5:hover, #myCanvas6:hover, #myCanvas7:hover,
#myCanvas8:hover, #myCanvas9:hover, #myCanvas10:hover, #myCanvas11:hover,
#myCanvas12:hover, #myCanvas13:hover, #myCanvas14:hover, #myCanvas15:hover,
#myCanvas16:hover, #myCanvas17:hover, #myCanvas18:hover, #myCanvas19:hover,
#myCanvas20:hover, #myCanvas21:hover, #myCanvas22:hover, #myCanvas23:hover {
  cursor: crosshair;
  border: 5px double rgba(29, 244, 255, 1);
}

#major, #minor {
  width: 470px;
  float: left;
  padding: 0 0 30px 0;
}

#majorheading, #minorheading {
  font-family: 'Gill Sans';
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1em;
  color: whitesmoke;
  opacity: 0.75;
  padding: 20px 0 30px 0;
  font-size: 22px;
  text-shadow: 1px 1px #ccc;
}

#menu_wrapper {
  margin: 0 auto;
  background: #000;
  opacity: 0.5;
  width: 80%;
  margin: 20px auto;
}

canvas#myCanvas:hover { cursor: crosshair; }

#main_menu {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 30px 0;
  text-transform: uppercase;
}

#main_menu span:first-child {margin-left: 32px;}

#modal {
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  width: 400px;
  display: none;
  color: whitesmoke;
  top: 20%;
  left: 40%;
  padding-bottom: 50px;
}

#exit {
  float: right;
  padding-top: 15px;
}

#login:hover, #sign_up:hover {
  color: #7DFDFF;
  cursor: pointer;
  }

#login, #sign_up { text-shadow: 1px 1px #6C7A89; }

#signup-form { display: none; }

#register-form { display: none; }

.user_login { padding: 28px; }

.user_signup {
  text-align: center;
/*   display: block; */
}

.coordinates {
  text-align: center;
  color: whitesmoke;
}

#password {
  margin-bottom: 20px;
}

.demo#sliders {
  text-align: center;
  padding-top: 40px;
}

.controls {
  font-family: gill sans;
  display: block;
  color: #FFF;
  text-shadow: 1px 1px #6C7A89;
  margin-bottom: 20px;
}

#username, #password, #user_username, #user_password, #user_password_confirmation {
  width: 180px;
  padding: 3px;
}

audio {
}
